.header-nav {
    width: 100%;
    height: 40px;
    box-shadow: 0 0 10px 0 rgba(168,168,170,.2);
    .highlight {
        width: 100%;
        height: 100%;
        background-color: rgba(168,168,170,.4);
    }
}